extends tmpl/master

block title
	| #{page.header.title}

block header
	| #{config.tagLine}

block content
	div.span12

		h2.post_title
			a(href="#") #{page.date.d + '/' + page.date.m + '/' + page.date.y} - #{page.header.title}
		hr
		!{page.content.html}
		hr
		div !{ main.renderPlugin('GroupPaginator', main, page) }
		h3 Posts recentes
		ul
			- if (main.pages.length > 0)
				- var max = (main.pages.length < 3 ? main.pages.length : 3);
				- for (var i = 0; i < max; i++)
					li #{main.pages[i].date.d + '/' + main.pages[i].date.m + '/' + main.pages[i].date.y} » 
						a(href='#{(config.folders.basePath ? config.folders.basePath : '' ) 
							+ main.pages[i].url
							+ (config.folders.basePath ? 'index.html' : '' )}', title=main.pages[i].title) #{main.pages[i].header.title}

		// comments
