extends tmpl/master

block title
	- var groups = [];
	- if (main.pages.length > 0)
		- for (var i = 0; i < main.pages.length; i++)
			- var page = main.pages[i];

			- if (!groups[page.header.group])
				- groups[page.header.group] = [];

			- groups[page.header.group].push(page);

		- for (var key in groups)
			- var group = groups[key];

			- for (var k = 0; k < group.length; k++)
				- if (k > 0)
					- group[k].previous = group[k - 1];
				- if (k < group.length)
					- group[k].next = group[k + 1];
			
	- var page = groups[config['home']][0];
	| #{page.header.title}

block header
	| #{config.tagLine}

block content
	div.span12

		h2.post_title
			a(href="#") #{page.date.asDateObject().format('dd/mm/yyyy')} - #{page.header.title}
		hr
		!{page.content.html}
		hr
		div !{ main.renderPlugin('GroupPaginator', main, page) }
		h3 Posts recentes
		ul
			- if (main.pages.length > 0)
				- var max = (main.pages.length < 3 ? main.pages.length : 3);
				- for (var i = 0; i < max; i++)
					li #{main.pages[i].date.asDateObject().format('dd/mm/yyyy')} » 
						a(href='#{(config.folders.basePath ? config.folders.basePath : '' ) 
							+ main.pages[i].url
							+ (config.folders.basePath ? 'index.html' : '' )}', title=main.pages[i].title) #{main.pages[i].header.title}

		// comments
